/* GLOBAL STYLE */
//import vars
@import '../styles/vars.scss';

//Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Utilities
body {
    background-color: $primary-color;
    font-family: $font-primary;
    color: $primary-text;
}

.full-width {
    width: 100%;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.debug {
    border: 1px solid red;
}

a {
    text-decoration: none;
    transition: $transition
}


@media screen and (max-width: 1260px) {
    .container {
        width: 100%;
    }
}
