/* VARIABLES */

/* Color */
$main-back: #171717;
$primary-color: #e51d2f;


/* Title */
$primary-title: rgb(255, 255, 255);

/* Text */
$primary-text: #bcbbbc;

/* Button */
$button-primary-back: #e51d2f;
$button-primary-text: #fff; 

$button-secondary-back: transparent;
$button-secondary-border: #fff;
$button-secondary-text: #fff;

/* Cards */
$card-back: #262626;


/* Transition */
$transition: all 0.4s ease;

/* TYPOGRAPHY */
$font-primary: 'Lato', sans-serif